{#- this is the jinja template used to create the configuration file
     <salt_config_directory>/minion.d/02_configure_bevy_master.conf-#}
# {{ pillar['salt_managed_message'] }}
# created from template bevy_master/files/02_configure_bevy_master.conf.jinja (0.1)

# these settings are specific to the running Salt master or stand-alone minion

{% set bevy_root = salt['config.get']('bevy_root', '/projects/salt-bevy/bevy_srv') %}

{# ipv6: true  # enable IPv6 dual-stack
interface: '::' #}

master: {{ salt['config.get']('my_master_url', salt['config.get']('master')) }}

grains:
  datacenter: bevy
  bevy: {{ salt['config.get']('bevy') }}
  environment: dev
salt_config_directory: {{ salt['config.get']('salt_config_directory') }}  # remember where I am at

{% if salt['pillar.get']('autosign_minion_ids', false) %}
{# This quick and dirty way to pre-accept minions with known names is insecure. #}
autosign_file: {{ salt['config.get']('salt_config_directory') }}/pki/master/autosign.minions
{% endif %}
winrepo_remotes: []  # do not support Windows minions before v2015.8
timeout: 20  # give Windows minions more time to respond (default was 5 seconds).

worker_threads: 2  {# sufficient for test systems #}

mine_interval: 5   # this is a test system, so run the mine every five minutes

# for master we need to tell Salt where to find its files
#
file_roots:    # search this list of directory entries in order
  base:
    - /srv/salt         # first, use the normal place (if it exists)
    {%- for entry in salt['pillar.get']('application_roots', []) %}
    {%- set appdir = entry.split('=') %}
    {%- if appdir|length > 1 and salt['grains.get']('virtual', 'physical') == 'VirtualBox' %}
    - /projects/{{ appdir[1] }}/salt
    {%- else %}
    - {{ appdir[0] }}/salt
    {%- endif %}
    {%- endfor %}
    - '{{ bevy_root }}/salt'
top_file_merging_strategy: same  # do not merge the top.sls file from srv/salt

pillar_roots:  # merge definitions from this list of directories
  base:
    - /srv/pillar
    {%- for entry in salt['pillar.get']('application_roots', []) %}
    {%- set appdir = entry.split('=') %}
    {%- if appdir|length > 1 and salt['grains.get']('virtual', 'physical') == 'VirtualBox' %}
    - /projects/{{ appdir[1] }}/pillar
    {%- else %}
    - {{ appdir[0] }}/pillar
    {%- endif %}
    {%- endfor %}
    - '{{ bevy_root }}/pillar'
pillar_source_merging_strategy: recurse

file_ignore_regex:
  - '/\.git($|/)'

tcp_keepalive: True
tcp_keepalive_idle: 200
tcp_keepalive_intvl: 75
